[SwitchyOmega Conditions]
@with result

*.githubassets.com +Default
*.gravatar.com +Default
*.amiami.com +Default
*.firebase.googleapis.com +Default
*.hoppscotch.io +Default
*.web.app +Default
*.google.com +Default
*.googleusercontent.com +Default
*.gstatic.com +Default
*.codepen.io +Default
*.maps.googleapis.com +Default
*.chrome.com +Default
*.codesandbox.io +Default
*.paimon.moe +Default
*.w3.org +Default
*.raw.githubusercontent.com +Default
*.loli.net +Default
*.diygod.me +Default
*.hcaptcha.com +Default
*.shopify.com +Default
*.snapchat.com +Default
*.rsshub.app +Default
*.cloudinary.com +Default
*.gin-gonic.com +Default
*.wordpress.com +Default
*.macbed.com +Default
*.facebook.net +Default
*.youtube.googleapis.com +Default
*.content.googleapis.com +Default
*.pximg.net +Default
*.redditmedia.com +Default
*.redditstatic.com +Default
*.nextjs.org +Default
*.avatars0.githubusercontent.com +Default
*.avatars1.githubusercontent.com +Default
*.avatars2.githubusercontent.com +Default
*.avatars3.githubusercontent.com +Default
*.twimg.com +Default
*.fbcdn.net +Default
*.steamcommunity.com +Default
cdn.dribbble.com +Default
*.facebook.com +Default
*.google.com.hk +Default
*.archive.org +Default
*.steamskins.org +Default
*.ytimg.com +Default
*.googlevideo.com +Default
*.youtube.com +Default
*.fonticons.com +Default
onedrive.live.com +Default
*.fontawesome.com +Default
*.iina.io +Default
*.yande.re +Default
*.konachan.net +Default
*.konachan.com +Default
*.stackoverflow.com +Default
*.ajax.googleapis.com +Default
*.imgur.com +Default
*.google.com.jp +Default
*.pixiv.com +Default
*.t.co +Default
*.twitter.com +Default
*.telegra.ph +Default
*.android.com +Default
*.pixiv.net +Default
*.greatfire.org +Default
*.wikipedia.org +Default
*.medium.com +Default
*.wikia.nocookie.net +Default
cdnjs.cloudflare.com +Default
*.github.com +Default
*.youtu.be +Default
*.getbootstrap.com +Default
app.cloudcone.com +Default
files.catbox.moe +Default
goo.gl +Default
*.v2ex.com +Default
cdn.jsdelivr.net +Default
*.php.net +Default
*.panel-dev.felo.me +direct
https://www.felo.me/sdk/js/felo-sdk-1.4.0.min.js +Default
*.doc-dev.felo.me +Default
*.account.felo.me +Default

* +direct
