[SwitchyOmega Conditions]
@with result

*.facebook.net +V2
*.youtube.googleapis.com +V2
*.content.googleapis.com +V2
*.pximg.net +V2
*.redditmedia.com +V2
*.redditstatic.com +V2
*.nextjs.org +V2
*.avatars0.githubusercontent.com +V2
*.avatars1.githubusercontent.com +V2
*.avatars2.githubusercontent.com +V2
*.avatars3.githubusercontent.com +V2
*.twimg.com +V2
*.gstatic.com +V2
*.fbcdn.net +V2
*.steamcommunity.com +V2
cdn.dribbble.com +V2
*.facebook.com +V2
*.google.com.hk +V2
*.google.com +V2
*.archive.org +V2
*.steamskins.org +V2
*.ytimg.com +V2
*.googlevideo.com +V2
*.youtube.com +V2
*.fonticons.com +V2
onedrive.live.com +V2
*.fontawesome.com +V2
*.iina.io +V2
*.yande.re +V2
*.konachan.net +V2
*.konachan.com +V2
*.stackoverflow.com +V2
*.ajax.googleapis.com +V2
*.googleusercontent.com +V2
*.imgur.com +V2
*.google.com.jp +V2
*.pixiv.com +V2
*.t.co +V2
*.twitter.com +V2
*.telegra.ph +V2
*.android.com +V2
*.pixiv.net +V2
*.greatfire.org +V2
*.paofu.cloud +V2
*.wikipedia.org +V2
*.medium.com +V2
*.wikia.nocookie.net +V2
cdnjs.cloudflare.com +V2
*.github.com +V2
*.youtu.be +V2

* +direct
