[SwitchyOmega Conditions]
@with result

*.gravatar.com +Clash
*.amiami.com +Clash
*.firebase.googleapis.com +Clash
*.hoppscotch.io +Clash
*.web.app +Clash
*.google.com +Clash
*.googleusercontent.com +Clash
*.gstatic.com +Clash
*.codepen.io +Clash
*.maps.googleapis.com +Clash
*.chrome.com +Clash
*.codesandbox.io +Clash
*.paimon.moe +Clash
*.w3.org +Clash
*.raw.githubusercontent.com +Clash
*.loli.net +Clash
*.diygod.me +Clash
*.hcaptcha.com +Clash
*.shopify.com +Clash
*.snapchat.com +Clash
*.rsshub.app +Clash
*.cloudinary.com +Clash
*.gin-gonic.com +Clash
*.wordpress.com +Clash
*.macbed.com +Clash
*.facebook.net +Clash
*.youtube.googleapis.com +Clash
*.content.googleapis.com +Clash
*.pximg.net +Clash
*.redditmedia.com +Clash
*.redditstatic.com +Clash
*.nextjs.org +Clash
*.avatars0.githubusercontent.com +Clash
*.avatars1.githubusercontent.com +Clash
*.avatars2.githubusercontent.com +Clash
*.avatars3.githubusercontent.com +Clash
*.twimg.com +Clash
*.fbcdn.net +Clash
*.steamcommunity.com +Clash
cdn.dribbble.com +Clash
*.facebook.com +Clash
*.google.com.hk +Clash
*.archive.org +Clash
*.steamskins.org +Clash
*.ytimg.com +Clash
*.googlevideo.com +Clash
*.youtube.com +Clash
*.fonticons.com +Clash
onedrive.live.com +Clash
*.fontawesome.com +Clash
*.iina.io +Clash
*.yande.re +Clash
*.konachan.net +Clash
*.konachan.com +Clash
*.stackoverflow.com +Clash
*.ajax.googleapis.com +Clash
*.imgur.com +Clash
*.google.com.jp +Clash
*.pixiv.com +Clash
*.t.co +Clash
*.twitter.com +Clash
*.telegra.ph +Clash
*.android.com +Clash
*.pixiv.net +Clash
*.greatfire.org +Clash
*.wikipedia.org +Clash
*.medium.com +Clash
*.wikia.nocookie.net +Clash
cdnjs.cloudflare.com +Clash
*.github.com +Clash
*.youtu.be +Clash
*.getbootstrap.com +Clash
app.cloudcone.com +Clash
files.catbox.moe +Clash
goo.gl +Clash
*.v2ex.com +Clash
cdn.jsdelivr.net +Clash
*.php.net +Clash

* +direct
